.button1{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.button1 a{
    text-decoration: none;
    color: #101010;
    font-family: sans-serif;
    font-size: 45px;
    border: 5px solid #101010;
    padding: 40px 80px;
    position: relative;
    overflow:hidden;
}

.button1 a:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: cornflowerblue;
    height: 100%;
    width: 100%;
    z-index: -1;
    transform-origin: bottom left;
    transform: rotate(-90deg);
    transition: transform 1s;
}

.button1 a:hover:before{
    transform: rotate(0deg);
}

.button2{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.button2 a{
    text-decoration: none;
    color: #101010;
    font-family: sans-serif;
    font-size: 40px;
    border: 3px solid #101010;
    padding: 40px 80px;
    position: relative;
    transition: all 1s;
    overflow: hidden;   
}

.button2 a:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #101010;
    z-index: -1;
    transform:translateX(-100%);
    transition: all 1s;
}

.button2 a:hover:before{
    transform: translateX(0);
}
.button2 a:hover{
    color: #fff;
}

.button3{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.button3 a{
    text-decoration: none;
    color: #101010;
    font-family: sans-serif;
    font-size: 45px;
    letter-spacing: 2px;
    border: 5px solid #101010;
    padding: 40px 80px;
    position: relative;
    transition: 1s;
}

.button3 a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #101010;
    transition: all 1s;

    z-index: -1;
    transform:rotateX(90deg);    
}

.button3 a:hover:before{
    transform:rotateX(0deg);
}
.button3 a:hover{
    color: #fff;
}

.button3 a:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #101010;
    transition: all 1s;

    z-index: -1;
    transform:rotateY(90deg);   
}
.button3 a:hover:after{
    transform:rotateY(0deg);
}

.button4{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.button4 a{
    text-decoration: none;
    padding: 40px 80px;
    color: #101010;
    border: 3px solid #254038;
    text-transform: uppercase;
    font-size: 40px;
    font-family: 'roboto';
    font-weight: 300;
    
    letter-spacing: -2px;
    transition: all 0.5s;   
}
.button4 a:hover{
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid #254038 ;
}

.button5{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #222;
}

.button5 a{
    text-decoration: none;
    padding: 40px 80px;
    color: #fff;
    border: 3px solid #fff;
    font-size: 40px;
    font-family: 'roboto';
    position:relative;
    transition: all 1s;   
    overflow:hidden;
}

.button5 a:before{
    content: 'YEAH!';
    color:white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsl(209, 93%, 44%);
    
    transform:translateY(-100%);
    transition: all 1s;

    display:flex;
    align-items: center;
    justify-content: center;   
}

.button5 a:hover{
    color:#fff;
}

.button5 a:hover:before{
    transform: translateY(0);
}

.button6{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #111;
}

.button6 a{
    text-decoration: none;
    padding: 40px 80px;
    color: #fff;
    border: 3px solid #fff;
    font-size: 40px;
    font-family: 'roboto';
    position:relative;
    transition: all 0.3s;   
    overflow:hidden;
}

.button6 a:before{
    content: '';
    color:white;
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 110%;
    background-color: #fff;
    transition: all 0.3s;
    
    transform: translateX(-100%)rotate(45deg);
}

.button6 a:hover{
    background-color:#dd05a7;
}

.button6 a:hover:before{
    transform: translateX(100%) rotate(45deg);
}

.button7{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #fff;
}
.button7 a{
    text-decoration: none;
    background-color:#dd05a7;
    padding: 40px 80px;
    color:transparent;
    border: 3px solid #dd05a7;
    font-size: 40px;
    font-family: 'roboto';
    position:relative;

    transition: all 0.3s;   
    overflow:hidden;
}

.button7 a:before{
    content: 'Hover me!';
    color:#dd05a7;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f88fe3;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.button7 a:after{
    content: 'Hover me!';
    color:#dd05a7;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #f88fe3;

    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
    
    transform: translate(-100%,100%);
}

.button7 a:hover:before{
    transform: translate(100%,-100%);
}

.button7 a:hover:after{
    transform: translate(0%,0%);
}



